<%- include("partials/header") -%>

<h1>YOU CAN DELETE POSTS FROM HERE</h1>


<%posts.forEach(function(post){%>
   <form action="/delete" method="post">
     <h1><%=post.title%></h1>
     <p><%=post.content.substring(0,100)+"..."%></p>
     <button type="submit" class ="btn btn-danger" name="delete" value="<%=post._id%>" >Delete</button>
     <br />
     <br />

     </form>


<%});%>

<%- include("partials/footer") -%>
