<%- include("partials/header") -%>

<h3>YOU CAN DELETE POSTS FROM HERE.</h3>


<%posts.forEach(function(post){%>
   <form action="/delete" method="post">
     <h4><%=post.title%></h4>
     <p><%=post.content.substring(0,50)+"..."%></p>
     <button type="submit" class ="delbtn btn btn-danger" name="delete" value="<%=post._id%>" >Delete</button>
     <br />
     <br />

     </form>


<%});%>

<%- include("partials/footer") -%>
