<%- include("partials/header") -%>

<h3>Update Blog</h3>

<form action="/updating" method="post">

<div class="form-group">

  <h1><%=postTitle%></h1>

  <label>Post</label>
  <textarea name="postBody" rows="5" cols="30" class = "form-control"><%=postContent%></textarea>


</div>

  <button type="submit" class = "btn btn-primary" name="update" value="<%=postId%>" >Publish</button>
</form>



<%- include("partials/footer") -%>
