<%- include("partials/header") -%>

<h3>YOU CAN UPDATE POSTS FROM HERE.</h3>


<%posts.forEach(function(post){%>
   <form action="/update" method="post">
     <h4><%=post.title%></h4>
     <p><%=post.content.substring(0,50)+"..."%></p>
     <button type="submit" class="btn btn-primary" name="update" value="<%=post._id%>" >Update</button>
     <br />
     <br />

     </form>


<%});%>

<%- include("partials/footer") -%>
